
/* Your CSS Code here. */
.holder{
	    display:grid;
	   grid-template-columns: repeat(2, 100px);
grid-template-rows: repeat(2, 100px);

        gap:5px;
       }
.item {
    background-color:red;
	border:solid 2px black;
	text-align:center;
}
