
/* Your CSS Code here. */
.holder{
	    height:200px;
	    width:200px;
	    display:grid;
	    grid-template-columns:repeat(2,1fr);
        grid-template-row:repeat(2,1fr);
        gap:5px;
       }
.item {
    background-color:red;
	border:solid 2px black;
	text-align:center;
}
