
/* Your CSS Code here. */
.holder{
	    height:200px;
	    width:200px;
	    display:grid;
	    grid-template-columns:100px 100px;
        grid-template-row:100px 100px;
        gap:5px;
       }
.item {
    background-color:red;
	border:solid 2px black;
	text-align:center;
}
